{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="card">

        

        <h2>Edit Loan {{ loan[0] }}</h2>

    <form method="POST">

    <label>Loan Amount:</label>
    <input type="number" name="loan_amount" value="{{ loan[2] }}" required>

    <label>Interest Rate (%):</label>
    <input type="number" name="interest_rate" value="{{ loan[3] }}" step="0.01" required>

    <label>Status:</label>
    <select name="loan_status">
        <option value="Active" {% if loan[4]=='Active' %}selected{% endif %}>Active</option>
        <option value="Closed" {% if loan[4]=='Closed' %}selected{% endif %}>Closed</option>
    </select>

    <button type="submit">Update Loan</button>
    <a href="/view_loans">Cancel</a>

</form>

    </div>
</div>

{% endblock %}